juristek.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="BPQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header"/>
        <xs:element ref="body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="header">
    <xs:annotation>
      <xs:documentation xml:lang="PT">Cabeçalho do documento</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="date-time"/>
        <xs:element minOccurs="0" ref="description"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="nextAppointment"/>
          <xs:element ref="validRequest"/>
          <xs:element ref="warning"/>
        </xs:choice>
        <xs:element ref="execution-time"/>
        <xs:element ref="query"/>
      </xs:sequence>
      <xs:attribute name="resourceUse" use="required" type="xs:integer"/>
      <xs:attribute name="specialResourceUse" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date-time" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="nextAppointment">
    <xs:complexType>
      <xs:attribute name="hour" use="required" type="xs:integer"/>
      <xs:attribute name="minute" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="validRequest" type="xs:string"/>
  <xs:element name="warning">
    <xs:complexType mixed="true">
      <xs:attribute name="code" use="required" type="xs:integer"/>
      <xs:attribute name="databaseDescription"/>
      <xs:attribute name="databaseName" type="xs:NCName"/>
      <xs:attribute name="databaseUrl" type="xs:anyURI"/>
      <xs:attribute name="push" type="xs:boolean"/>
      <xs:attribute name="query"/>
      <xs:attribute name="source" use="required" type="xs:NCName"/>
      <xs:attribute name="tableDescription"/>
      <xs:attribute name="tableName" type="xs:NCName"/>
      <xs:attribute name="tableType"/>
      <xs:attribute name="tableUpload" type="xs:boolean"/>
      <xs:attribute name="tableUrl" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="execution-time" type="xs:integer"/>
  <xs:element name="query">
    <xs:complexType mixed="true">
      <xs:attribute name="database" use="required" type="xs:NCName"/>
      <xs:attribute name="table" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation xml:lang="PT">Corpo do documento.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="processo"> </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processo">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">É o instrumento que possibilita a satisfação do interesse público na conciliação de litígios (conflitos). O processo judicial é uma relação triangular formada por três partes: autor, réu e juiz; já o processo administrativo é uma relação bilateral formada pelo Interessado e Órgão público.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="acao"/>
        <xs:element ref="autuacao"/>
        <xs:element ref="classe"/>
        <xs:element ref="descricao"/>
        <xs:element ref="distribuicao"/>
        <xs:element ref="instancia"/>
        <xs:element ref="advogados"/>
        <xs:element ref="andamentos"/>
        <xs:element ref="area"/>
        <xs:element ref="assunto"/>
        <xs:element ref="cartorio"/>
        <xs:element ref="codigo_interno"/>
        <xs:element ref="comarca"/>
        <xs:element ref="custas"/>
        <xs:element ref="documentos"/>
        <xs:element ref="eletronico"/>
        <xs:element ref="fase"/>
        <xs:element ref="foro"/>
        <xs:element ref="incidente"/>
        <xs:element ref="inscricao"/>
        <xs:element ref="juizo"/>
        <xs:element ref="julgador"/>
        <xs:element ref="localizacao"/>
        <xs:element ref="numero_antigo"/>
        <xs:element ref="numero_processo"/>
        <xs:element ref="numero_protocolo"/>
        <xs:element ref="observacao"/>
        <xs:element ref="orgao"/>
        <xs:element ref="origem_processo"/>
        <xs:element minOccurs="0" ref="origem_tribunal"/>
        <xs:element ref="outros_numeros"/>
        <xs:element ref="partes"/>
        <xs:element ref="prioridade"/>
        <xs:element ref="rito"/>
        <xs:element ref="situacao"/>
        <xs:element ref="solucao"/>
        <xs:element ref="status"/>
        <xs:element ref="tags"/>
        <xs:element ref="url_processo"/>
        <xs:element ref="valor_causa"/>
        <xs:element ref="vara"/>
      </xs:choice>
      <xs:attribute name="databaseDescription">
        <xs:annotation>
          <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Sigla e nome do tribunal (do database).</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="databaseName" type="xs:NCName">
        <xs:annotation>
          <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Sigla do tribunal (do database).</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="databaseUrl" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Url do tribubal (do database).</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="filter" use="required"/>
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="instancia" type="xs:integer">
        <xs:annotation>
          <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">1ª Instância: Trata-se da porta de entrada do Judiciário.
2ª Instância: Trata-se de uma camada jurisdicional mais robusta e com o objetivo de analisar as decisões tomadas em primeiro grau.

**Note que existe um Tribunal de Justiça em cada Estado da federação. **

Os Tribunais Regionais Federais, são cinco, com sedes em Brasília, Rio de Janeiro, São Paulo, Porto Alegre e Recife.

Já os Tribunais Regionais do Trabalho, possuem vinte e quatro unidades distribuídas pela federação.

Tribunais de Justiça Militar atualmente são três, em São Paulo, Minas Gerais e Rio Grande do Sul.

Tribunais Regionais Eleitorais estão presentes em todo o Brasil, localizados nas capitais dos estados e no Distrito Federal.

É importante!! A Constituição Federal somente garante dois graus de jurisdição, ou seja, somente primeira e segunda instâncias. As demais são apenas instâncias superiores, que se compreendem dentro da segunda instância, e não necessariamente terceira e quarta instâncias, como costumamos ouvir.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="origin"/>
      <xs:attribute name="pushguid" use="required"/>
      <xs:attribute name="tableDescription"/>
      <xs:attribute name="tableName" type="xs:NCName"/>
      <xs:attribute name="tableType"/>
      <xs:attribute name="tableUpload" type="xs:boolean"/>
      <xs:attribute name="tableUrl" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="advogados">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Os advogados(as), representantes legais das partes do processo.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="advogado"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="advogado">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">O advogado é o representante legal das partes do processo.
</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="OAB">
        <xs:annotation>
          <xs:documentation xml:lang="PT">Número de inscrição na Ordem dos Advogados do Brasil (OAB).</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="documento" type="xs:NMTOKEN"/>
      <xs:attribute name="parte">
        <xs:annotation>
          <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Participante do processo.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="andamentos">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">São as movimentações, os desdobramentos processuais. Que podem ser: Distribuição ➢ Despachos ➢ Intimações ➢ Juntadas de documentos ➢ Decisões ➢ Arquivamentos ➢ Dentre outros;
</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="andamento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="andamento">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">A movimentação, o desdobramento processual.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="descricao"/>
        <xs:element ref="data"/>
        <xs:element minOccurs="0" ref="usuario_juntada"/>
        <xs:choice minOccurs="0">
          <xs:element ref="tipo"/>
          <xs:element ref="tipo_incidente"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="tipo_andamento"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="url_documento"/>
        <xs:element minOccurs="0" ref="numero_andamento"/>
        <xs:choice minOccurs="0">
          <xs:element ref="codigoNacional"/>
          <xs:element ref="ordenacao"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="acao"/>
          <xs:element ref="instancia"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="classe"/>
        <xs:choice minOccurs="0">
          <xs:element ref="autuacao"/>
          <xs:element ref="distribuicao"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuario_juntada" type="xs:string"/>
  <xs:element name="tipo" type="xs:string"/>
  <xs:element name="tipo_incidente" type="xs:NCName"/>
  <xs:element name="tipo_andamento" type="xs:NCName"/>
  <xs:element name="url_documento" type="xs:anyURI"/>
  <xs:element name="numero_andamento" type="xs:integer"/>
  <xs:element name="codigoNacional" type="xs:integer"/>
  <xs:element name="ordenacao" type="xs:integer"/>
  <xs:element name="area" type="xs:NCName">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Âmbito/ramo do direito.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="assunto" type="xs:string">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Matéria do processo.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="cartorio" type="xs:string"/>
  <xs:element name="codigo_interno" type="xs:NMTOKEN"/>
  <xs:element name="comarca" type="xs:string">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">A comarca corresponde ao território em que o juiz de 1ª grau irá exercer sua jurisdição e pode abranger um ou mais municípios, dependendo do número de habitantes e de eleitores, do movimento forense e da extensão territorial dos municípios do estado, entre outros aspectos. Cada comarca, portanto, pode contar com vários juízes ou apenas um, que terá, no caso, todas as competências destinadas ao órgão de 1º grau.
</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="custas" type="xs:string">
    <xs:annotation>
      <xs:documentation source="https://pt.m.wikipedia.org/wiki/Custas_processuais" xml:lang="PT">Custas processuais são a soma das despesas decorrentes da tramitação de um processo[1]. Representam a taxa devida pela prestação, por parte do Poder Judiciário, do serviço público de julgamento de uma ação ou um recurso.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="documentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="documento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documento">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="descricao"/>
        <xs:element ref="data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eletronico" type="xs:integer"/>
  <xs:element name="fase" type="xs:string">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Momento processual. Existem duas essenciais de conhecimento (fase decisória) e de execução (cumprimento de sentença).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foro" type="xs:string">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Fórum! Espaço físico onde funcionam os órgãos do Poder Judiciário.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="incidente" type="xs:string"/>
  <xs:element name="inscricao">
    <xs:complexType mixed="true">
      <xs:attribute name="format" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="juizo" type="xs:string"/>
  <xs:element name="julgador">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Juiz, desembargador ou ministro julgador.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="tipo" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="localizacao" type="xs:string"/>
  <xs:element name="numero_antigo" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="PT">Número antigo do processo judicial.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="numero_processo" type="xs:NMTOKEN">
    <xs:annotation>
      <xs:documentation xml:lang="PT">Número do processo judicial.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="numero_protocolo" type="xs:integer"/>
  <xs:element name="observacao" type="xs:string"/>
  <xs:element name="orgao" type="xs:string">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Juízo/julgador do sistema judiciário.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="origem_processo" type="xs:string"/>
  <xs:element name="origem_tribunal" type="xs:NCName">
    <xs:annotation>
      <xs:documentation xml:lang="PT">Sigla do tribunal de origem.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="outros_numeros" type="xs:string"/>
  <xs:element name="partes">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Participantes do processo.
Autor: é a parte que promove a ação como polo ativo do processo. Pode ter várias denominações.

Réu: é parte que sofre uma ação no processo judicial, em contraposição ao autor da ação. Ocupa o polo passivo da demanda.

Juiz:  é o julgador de primeira instancia; a parte da ação com poder-dever de exercer a atividade jurisdicional, julgando, em regra, os conflitos de interesse entre autor e réu.

Desembargador: é o juiz de tribunais superiores. A quem inclusive, é incumbido o poder, por exemplo, rever as decisões dos juízes de primeira instância e modificá-las.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="parte"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parte">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Participante do processo.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="documento"/>
      <xs:attribute name="endereco"/>
      <xs:attribute name="tipo" type="check_tipo" use="required"> </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="prioridade" type="xs:NCName"/>
  <xs:element name="rito" type="xs:NCName"/>
  <xs:element name="situacao" type="xs:string">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Informação sobre o status do processo/como se encontra. Pode ser em andamento, baixado, ativo, entre outros.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="solucao" type="xs:string"/>
  <xs:element name="status" type="xs:string"/>
  <xs:element name="tags">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tag">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="data"/>
          <xs:attribute name="tipo" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="url_processo" type="xs:anyURI"/>
  <xs:element name="valor_causa">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Valor da ação em pecúnia.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="unidade_monetaria"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vara">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">A vara judiciária é o local ou repartição que corresponde à lotação de um juiz, onde o magistrado efetua suas atividades. Em comarcas pequenas, a única vara recebe todos os assuntos relativos à Justiça.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="codigo" type="xs:integer"/>
      <xs:attribute name="sigla" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="autuacao">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Pode significar duas coisas; 1 - primeiro ato de documentação do processo. 2 – Auto de infração promovido contra alguém;</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="format"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="distribuicao">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Data em que são cadastrados os dados do processo e é designado o juízo que será incumbido de tal processo.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="format"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="descricao" type="xs:string"/>
  <xs:element name="data">
    <xs:complexType mixed="true">
      <xs:attribute name="format" use="required"/>
      <xs:attribute name="hash"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="acao" type="xs:string"/>
  <xs:element name="instancia" type="xs:NMTOKEN">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">1ª Instância: Trata-se da porta de entrada do Judiciário.
2ª Instância: Trata-se de uma camada jurisdicional mais robusta e com o objetivo de analisar as decisões tomadas em primeiro grau.

**Note que existe um Tribunal de Justiça em cada Estado da federação. **

Os Tribunais Regionais Federais, são cinco, com sedes em Brasília, Rio de Janeiro, São Paulo, Porto Alegre e Recife.

Já os Tribunais Regionais do Trabalho, possuem vinte e quatro unidades distribuídas pela federação.

Tribunais de Justiça Militar atualmente são três, em São Paulo, Minas Gerais e Rio Grande do Sul.

Tribunais Regionais Eleitorais estão presentes em todo o Brasil, localizados nas capitais dos estados e no Distrito Federal.

É importante!! A Constituição Federal somente garante dois graus de jurisdição, ou seja, somente primeira e segunda instâncias. As demais são apenas instâncias superiores, que se compreendem dentro da segunda instância, e não necessariamente terceira e quarta instâncias, como costumamos ouvir.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="classe">
    <xs:annotation>
      <xs:documentation source="https://github.com/bipbop/ubiquitous-language-tribunais" xml:lang="PT">Procedimento processual.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="sigla" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <!-- Validation -->
  <xs:simpleType name="check_tipo">
    <xs:restriction base="xs:string">
      <xs:pattern value="ATIVO|PASSIVO|Polo Ativo|Polo Passivo"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
